body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin: auto;
  padding: 48px 32px;
  width: 100%;
  max-width: 512px;
  text-align: center;
}

.main-container > * {
  margin-bottom: 16px !important;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
